.card {
  width: 90%;
  max-width: 400px;
  padding: 12px;
  box-shadow: -3px 3px 3px 3px #ccc;
}

.card header {
  margin-bottom: 8px;
}

.card header h3 {
  line-height: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.card header span {
  font-size: 0.8rem;
}

.card section img {
  width: 100%;
}

.card section p {
  margin: 1rem 0 0;
}

.card .btnGroup {
  margin-top: 1rem;

  display: flex;
  justify-content: space-evenly;
}

.btn {
  width: 45%;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 12px;
  font-weight: 700;
  cursor: pointer;
}

.btnEdit {
  width: 100%;
  text-decoration: none;
  color: #519bd0;
  border: 1px solid #519bd0;
  border-radius: 100vmax;
}

.btnEdit:hover {
  background-color: #519bd0;
  color: #ffffff;
}
/* 
.btnDelete {
  background-color: #cc0000;
  color: #ffffff;
  border: none;
}

.btnDelete:hover {
  color: #cc0000;
  background-color: #ffffff;
  border: 1px solid #cc0000;
} */