.container {
  padding: 1rem 0 0 2rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 1.5rem;
}

@media (max-width: 992px) {
  .gridContainer{
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 1rem;
  }
}

@media (max-width: 576px) {
  .gridContainer {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
}