.container {
  width: 100vw;
  max-width: 1300px;
  min-height: 100vh;
  z-index: 0;
  margin: auto;
}

.options {
  position: sticky;
  top: 1rem;
}

.options input {
  margin: 1rem 2rem;
  padding: 0.5rem 1rem;
  border-radius: 100vmax;
  text-transform: capitalize;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 20px;
  margin: 1rem;
}

@media (max-width: 1200px) {
  .grid-container{
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 576px) {
  .grid-container{
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

.productBoxes {
  display: flex;
  height: 100px;
  box-shadow: 3px 3px 3px 3px #ccc;
  overflow-y: scroll;
}

.productBoxes img {
  position: sticky;
  top: 0;
  left: 0;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.productBoxes .description {
  padding: .5rem 4px 0 1rem;
}

p.productName {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.actions {
  min-width: fit-content;
  margin-left: auto;
  text-align: center;
  position: sticky;
  top: 0;
  padding-top: .5rem;
}

.actions button {
  color: white;
  background: #1a8bdc;
  font-size: 1.5rem;

  margin-top: .8rem;
  padding: 0 0.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.actions button:active {
  transform: scale(1.1);
}