.header {
  width: 100vw;
  background: #519bd0;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1300px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav button {
  padding: .5rem 1rem;
}

.header h1 {
  color: white;
}

.header button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.header span.icon {
  margin-right: .5rem;
}

.header span.count {
  color: white;
  background-color: red;
  padding: 4px 8px;
  font-weight: 700;
  margin-left: .5rem;
  letter-spacing: -1px;
  border-radius: 100vmax;
}